<%= render "shared/page_header", title: "New User", subtitle: "Add a new user account" %>

<div class="card max-w-2xl">
  <div class="card-body">
    <%= render "form", user: @user %>
  </div>
</div>
